build
cmake-build-debug
cmake-buile-server

.DS_Store

.vscode
.idea
.clang-format
.cache

grammar/*.cpp
grammar/*.h
grammar/*.interp
grammar/*.tokens
grammar/.antlr
.antlr

out
scripts

testbench

share_CACT.sh
demo.c
CACT-IR.md
boot.ps1

test/runllvm.sh
test/*/ll
test/*/s